<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="RegressionWiki">
        <classes>
            <class name="com.telran.selenium.LoginToOk"/>
            <class name="com.telran.selenium.LoginToWiki"/>
        </classes>
    </test>
</suite>
